[submodule "third_party/libuv"]
	path = third_party/libuv
	url = https://github.com/libuv/libuv.git

[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest.git

[submodule "third_party/libtsp"]
	path = third_party/libtsp
	url = https://github.com/PrimeIntellect-ai/libtsp.git

[submodule "third_party/threadpark"]
	path = third_party/threadpark
	url = https://github.com/PrimeIntellect-ai/threadpark.git

[submodule "third_party/quantization-kernels"]
	path = third_party/quantization-kernels
	url = https://github.com/PrimeIntellect-ai/quantization-kernels

[submodule "third_party/threadpool"]
	path = third_party/threadpool
	url = https://github.com/PrimeIntellect-ai/threadpool